
 .overlap {
    position: relative;
    height: 890px;
  }
  
 .sign-up-form {
    position: absolute;
    width: 476px;
    height: 600px;
    top: 187px;
    left: 1150px;
  }
  
.overlap-group {
    position: relative;
    width: 470px;
    height: 600px;
    background-color: var(--background-light);
    border-radius: 10px;
  }
  
.text-wrapper {
    top: 528px;
    left: 325px;
    color: #25dac4;
    line-height: var(--text-article-line-height);
    position: absolute;
    font-family: var(--text-article-font-family);
    font-weight: var(--text-article-font-weight);
    font-size: var(--text-article-font-size);
    letter-spacing: var(--text-article-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-article-font-style);
  }
  
 .do-you-have-an-accou {
    position: absolute;
    top: 510px;
    left: 100px;
    font-family: var(--text-article-font-family);
    font-weight: var(--text-article-font-weight);
    color: var(--colors-text);
    font-size: var(--text-article-font-size);
    text-align: center;
    letter-spacing: var(--text-article-letter-spacing);
    line-height: var(--text-article-line-height);
    white-space: nowrap;
    font-style: var(--text-article-font-style);
  }
.middle-fill {
    position: absolute;
    width: 330px;
    height: 50px;
    top: 449px;
    left: 70px;
    background-color: var(--socials-twitter);
    border-radius: 100px;
  }
  
.sign-up {
    height: 26px;
    top: 11px;
    left: 96px;
    color: var(--colors-white);
    text-align: center;
    line-height: var(--buttons-middle-line-height);
    position: absolute;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
.sign-up-wrapper {
    width: 330px;
    height: 50px;
    top: 338px;
    left: 70px;
    background-color: var(--action-secondary);
    position: absolute;
    border-radius: 100px;
  }
  
.div {
    position: absolute;
    height: 26px;
    top: 11px;
    left: 137px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    text-align: center;
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
.divider-or {
    position: absolute;
    width: 330px;
    height: 26px;
    top: 406px;
    left: 69px;
  }
  
 .divider {
    position: absolute;
    width: 144px;
    height: 2px;
    top: 11px;
    left: 185px;
  }
  
.text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 155px;
    opacity: 0.9;
    font-family: var(--text-paragraph-font-family);
    font-weight: var(--text-paragraph-font-weight);
    color: var(--colors-text);
    font-size: var(--text-paragraph-font-size);
    text-align: center;
    letter-spacing: var(--text-paragraph-letter-spacing);
    line-height: var(--text-paragraph-line-height);
    white-space: nowrap;
    font-style: var(--text-paragraph-font-style);
  }
  .e1_44 {
    width: 141.5697021484375px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 11.100000381469727px;
}
.e1_47 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei1_47_112_1148 {
  background-color: rgba(37.16977268457413, 218.25328141450882, 196.52318984270096, 1);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
  .e1_44 {
    border: 2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
}
  .e1_42{width: 141.5697021484375px;
    height: 2px;
    position: absolute;
    left: 186.43333435058594px;
    top: 11.100000381469727px;
  }
  .e1_42{
    border: 2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
  }
.img {
    position: absolute;
    width: 144px;
    height: 2px;
    top: 11px;
    left: -1px;
  }

  
    .checkbox-checked {
    position: absolute;
    width: 270px;
    height: 28px;
    top: 280px;
    left: 70px;
  }
  
    .checked {
    position: absolute;
    top: 0;
    left: 37px;
    font-family: var(--text-paragraph-font-family);
    font-weight: var(--text-paragraph-font-weight);
    color: var(--colors-text);
    font-size: var(--text-paragraph-font-size);
    letter-spacing: var(--text-paragraph-letter-spacing);
    line-height: var(--text-paragraph-line-height);
    white-space: nowrap;
    font-style: var(--text-paragraph-font-style);
  }
  
    .on {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
    .middle-dark-outline {
    position: absolute;
    width: 330px;
    height: 50px;
    top: 204px;
    left: 70px;
    border-radius: 100px;
    border: 2px solid;
    border-color: var(--colors-grey);
  }
  
    .text-wrapper-3 {
    position: absolute;
    height: 26px;
    top: 9px;
    left: 22px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-text);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .div-wrapper {
    position: absolute;
    width: 330px;
    height: 50px;
    top: 134px;
    left: 70px;
    border-radius: 100px;
    border: 2px solid;
    border-color: var(--colors-grey);
  }
  
    .sign-up-2 {
    position: absolute;
    top: 48px;
    left: 114px;
    font-family: var(--heading-h3-title-font-family);
    font-weight: var(--heading-h3-title-font-weight);
    color: var(--colors-heading);
    font-size: var(--heading-h3-title-font-size);
    text-align: center;
    letter-spacing: var(--heading-h3-title-letter-spacing);
    line-height: var(--heading-h3-title-line-height);
    white-space: nowrap;
    font-style: var(--heading-h3-title-font-style);
  }
  
    .text {
    position: absolute;
    width: 431px;
    height: 496px;
    top: 219px;
    left: 310px;
  }
  
    .the-most-important-p {
    position: absolute;
    width: 363px;
    top: 241px;
    left: 3px;
    font-family: var(--heading-h5-lead-font-family);
    font-weight: var(--heading-h5-lead-font-weight);
    color: var(--colors-white);
    font-size: var(--heading-h5-lead-font-size);
    letter-spacing: var(--heading-h5-lead-letter-spacing);
    line-height: var(--heading-h5-lead-line-height);
    font-style: var(--heading-h5-lead-font-style);
  }
  
    .middle-fill-2 {
    width: 157px;
    height: 50px;
    top: 446px;
    left: 0;
    background-color: var(--action-third);
    position: absolute;
    border-radius: 100px;
  }
  
    .sign-up-3 {
    position: absolute;
    height: 26px;
    top: 11px;
    left: 31px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    text-align: center;
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .twenty-five-awesome {
    position: absolute;
    width: 424px;
    top: 0;
    left: 3px;
    font-family: var(--heading-h2-header-font-family);
    font-weight: var(--heading-h2-header-font-weight);
    color: var(--colors-white);
    font-size: var(--heading-h2-header-font-size);
    letter-spacing: var(--heading-h2-header-letter-spacing);
    line-height: var(--heading-h2-header-line-height);
    font-style: var(--heading-h2-header-font-style);
  }
  
     -menu {
    position: absolute;
    width: 972px;
    height: 40px;
    top: 65px;
    left: 213px;
  }
  
    .navbar {
    position: absolute;
    width: 511px;
    height: 40px;
    top: 78px;
    left: 1125px;
  }
  
    .middle-fill-3 {
    width: 120px;
    height: 40px;
    top: 0;
    left: 383px;
    background-color: var(--action-third);
    position: absolute;
    border-radius: 100px;
  }
  
    .sign-up-4 {
    position: absolute;
    height: 26px;
    top: 6px;
    left: 21px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    text-align: center;
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .text-wrapper-4 {
    left: 265px;
    position: absolute;
    top: 7px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .text-wrapper-5 {
    left: 196px;
    position: absolute;
    top: 7px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .text-wrapper-6 {
    left: 113px;
    position: absolute;
    top: 7px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .about {
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 7px;
    font-family: var(--buttons-middle-font-family);
    font-weight: var(--buttons-middle-font-weight);
    color: var(--colors-white);
    font-size: var(--buttons-middle-font-size);
    letter-spacing: var(--buttons-middle-letter-spacing);
    line-height: var(--buttons-middle-line-height);
    white-space: nowrap;
    font-style: var(--buttons-middle-font-style);
  }
  
    .white {
    position: absolute;
    width: 111px;
    height: 19px;
    top: 9px;
    left: 0;
  }
  
    .white-2 {
    position: relative;
    height: 19px;
  }
  
    .text-wrapper-7 {
    position: absolute;
    top: 5px;
    left: -810px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--colors-white);
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.29px;
    line-height: normal;
  }
  
    .img-2 {
    position: absolute;
    width: 1400px;
    height: 890px;
    top: 0;
    left: 0;
  }
  